/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.show {
  display: block;
}
.hidden {
  display: none;
}

/*  regole header parte alta */
.top-header {
  display: flex;
  background-color: #f3f4f5;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}


.top-header-left li, .top-header-right li {
  display: inline-block;
  padding: 10px 25px;
}
.top-header-left a, .top-header-right a{
  text-decoration: none;
  color: grey;
}

/*  regole header seconda linea */

.main-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

.logo-menu-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#logo a {
  text-decoration: none;
  font-size: 2em;
  color: black;
  font-weight: bold;
  padding-right: 50px;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  position: relative;
}

.nav-menu a {
  text-decoration: none;
  color: grey;
  padding: 20px 20px;
}

.download-app-btn a {
  text-decoration: none;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid black;
  padding: 15px 8px;
}

/* regole dropdown menu versione desktop */

.dropdown ul {
  list-style: none;
}

.dropdown li {
padding: 15px 0;
width: 100%;
}

.drp-money {
  position: absolute;
  background-color: white;
  width: 245px;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 4px lightgrey);
  top: 40px;
}

.drp-investment {
  position: absolute;
  background-color: white;
  width: 330px;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 4px lightgrey);
  top: 40px;
}

.drp-check {
  position: absolute;
  background-color: white;
  width: 180px;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 4px lightgrey);
  top: 40px;
}

.drp-else {
  position: absolute;
  background-color: white;
  width: 270px;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 4px lightgrey);
  top: 40px;
}

.drp-else ul:last-of-type li {
padding: 20px 20px;
color: lightgrey;
}

.drp-plans {
  position: absolute;
  background-color: white;
  width: 130px;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 4px lightgrey);
  top: 40px;
}
/* regole per menu hamburger versione mobile*/

.burger-menu-icon {
  display: none;
}

.burger-menu-icon a {
  text-decoration: none;
  color: lightgrey;
}

.burger-menu-wrapper {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left:0;
  background-color: white;
}

.burger-menu-top {
  min-height: 90px;
  background-color: #f3f4f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu-top li {
  display: inline-block;
  padding: 10px 25px;
}

.burger-menu-top a{
  text-decoration: none;
  color: grey;
}

.burger-menu-close i {
  color: grey;
  padding-right: 30px;
}
.burger-menu-main {
  padding: 0 25px;
}

.burger-menu-main ul{
  list-style: none;
}

.burger-menu-main a{
  text-decoration: none;
  color: grey;
}


.burger-menu-main li {
  padding: 20px 0;
}

.burger-menu-main .freccina-su,.burger-menu-main .freccina-giu {
  float: right;
  color: grey;
  cursor: pointer;
}

/*  regole MAIN */
.jumbotron {
  display: flex;
  padding: 0 60px;
}

.left-jumbo {
  width: 50%;
}

.right-jumbo {
  width: 50%;
  padding: 0 0.75rem;
}

.left-jumbo h1 {
  font-size: 90px;
  line-height: 87px;
  padding-top: 30px;
  width: 73%;
}

.left-jumbo p:first-of-type {
  color: grey;
  padding-top: 30px;
  font-size: 21px;
  line-height: 28px;
  width: 79%;
}
.wrapper-flex-jumbo {
  display: flex;
  align-items: center;
  min-height: 90px;
  margin-top: 2em;
}

.prefisso {
  border-bottom: 1px solid lightgrey;
}

.prefisso .fas {
  font-size: 0.5em;
  padding-left: 30px;

  color: lightgrey;
}

.telnum {
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-left: 15px;
}

.left-jumbo button {
  color: lightgrey;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: grey;
  padding: 10px 35px;
  font-size: 1em;
  cursor: pointer;
}

.right-jumbo img {
height: 610px;
}

.financial-life {
  display: none;
}
/* media query */
@media all and (max-width: 1026px){
  /*  regole media header */
  .top-header {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .download-app-btn {
    display: none;
  }

  .burger-menu-icon {
    display: block;
  }
  /* regole media main */
  .jumbotron {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-jumbo h1 {
    width: 100%;
    font-size: 45px;
    text-align: center;
  }
  .left-jumbo p:first-of-type {
    width: 100%;
    text-align: center;
  }
  .wrapper-flex-jumbo {
    display: none;
  }
  .jumbotron p:last-of-type{
    display: none;
  }
  .right-jumbo img {
  max-height: 410px;
  }

  .financial-life {
    display: block;
  }

  .financial-life h2 {
    text-align: center;
  }
}
